@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

select>option{ 
  height:20px;
}

.highcharts-credits{
  display: none !important;
}
.button{
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

#popup{
  position: absolute;
  z-index: 1;
  bottom: 0% !important;
  border-radius: 5px;
  background-color: black;
  color:white;
  width: max-content;
  text-align:center;
  padding-bottom:5px !important;
  display: none !important;
}
#popup div{
  font-size: xx-large;
  padding: 0 10px;
}

#menu{
  position: absolute;
  z-index: 1;
  right: 0% !important;
  bottom: 2% !important;
  border-radius: 5px;
  background-color: black;
  color:white;
  width: max-content;
  text-align: center;
  padding-bottom:5px !important;
  display: none !important;
}
#menu div{
  font-size: xx-large;
  padding: 0 10px;
}

#BankNifty,#Nifty {
  width: auto;
  padding-left: 0 !important; 
  padding-right: 0 !important; 
}

@media (max-width:1200px) {
  .button{
    font-size: 14px !important;
  }
}
@media (min-width:992px) {
  #Table_2_Column{
    display: block;
  }
  #Table_1_Column{
    display: block;
  }
  #popup{
    display: none !important;
  }
  #menu{
    display: none !important;
  }
}
@media (max-width:992px) {
  #Table_2_Column{
    display: none;
    height: fit-content !important;
  }
  #Table_2_Column .contaniner{
    height: fit-content !important;
  }
  #Righttable{
    padding-bottom: 15px !important;
  }
  #Table_1_Column{
    display: block;
  }
  #popup{
    display: block !important;
  }
  #menu{
    display: block !important;
  }
  .button{
    font-size: 16px !important;
  }
}
@media (max-width:500px) {
  .button{
    margin-left: 2px !important;
    margin-right: 2px !important;
    width: fit-content !important;
    font-size: 12px !important;
  }
  .button:nth-child(2){
    padding-left: 0 !important;
    padding-right: 0 !important;
  }  
  .button:nth-child(3){
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .button:nth-child(1){
    width: auto !important;
  }
  .button:nth-child(1) .row{
    width: auto !important;
  }
}
.canvasjs-chart-credit{
  display: none !important;
}

@media (max-width:550px) {
  th, td{
    padding-left: 0 !important;
    padding-right: 16px !important;
  }
  th{
    font-size: 12px !important;
  }
}

th, td{
  width: auto !important
}